.page-header.text-center
  %h1= "Глюкометр"
= simple_form_for '', method: :get, html: { class: 'col-md-6 col-md-offset-3 text-center', role: 'form1' } do |f|
  .well
    .row
      .col-md-12
        .form-group
          = f.input :glucose, label: "Глюкоза крови", placeholder: "Формат:  99.9", value: params[:glucose]
    .row
      .col-md-12
        .form-group
          = f.input :complect_id, label: "Прибор", value: params[:complect_id]
  .inline
    = submit_tag 'Отправить данные', class: 'btn btn-primary'
    = link_to 'Назад',  people_path, class: 'btn btn-default'
