.page-header.text-center
  %h1= t('headers.people.index')

%nav{class: 'menu'}
  = link_to ad_person_path("test"), class: 'btn btn-success' do
    = fa_icon :check
    = "Тонометр (АД)"

  = link_to heart_rate_person_path("test"), class: 'btn btn-success' do
    = fa_icon :check
    = "Тонометр (ЧСС)"

  = link_to spirometr_person_path("test"), class: 'btn btn-success' do
    = fa_icon :check
    = "Спирометр"

  = link_to glucometr_person_path("test"), class: 'btn btn-success' do
    = fa_icon :check
    = "Глюкометр"

  = link_to weigher_person_path("test"), class: 'btn btn-success' do
    = fa_icon :check
    = "Весы"

  = link_to vibrotester_person_path("test"), class: 'btn btn-success' do
    = fa_icon :check
    = "Вибротестер"

  = link_to audiometer_person_path("test"), class: 'btn btn-success' do
    = fa_icon :check
    = "Аудиометр"

-# %table.table.table-hover
-#   %caption
-#     = link_to spirometr_person_path("test"), class: 'btn btn-success' do
-#       = fa_icon :check
-#       = "Спирометр"
-#     %br
-#     %br
-#     = link_to glucometr_person_path("test"), class: 'btn btn-success' do
-#       = fa_icon :check
-#       = "Глюкометр"
-#     %br
-#     %br
-#     = link_to weigher_person_path("test"), class: 'btn btn-success' do
-#       = fa_icon :check
-#       = "Весы"
