.page-header.text-center
  %h1= "Вибротестер"
= simple_form_for '', method: :get, html: { class: 'col-md-6 col-md-offset-3 text-center', role: 'form1' } do |f|
  .well
    .row
      .col-md-12
        .form-group
          = f.input :hr63, label: "Вч 63 Кисть справа", placeholder: "Формат:  99.9", value:  params[:hr63]
    .row
      .col-md-12
        .form-group
          = f.input :hr125, label: "Вч 125 Кисть справа", placeholder: "Формат:  99.9", value: params[:hr125]
    .row
      .col-md-12
        .form-group
          = f.input :hr250, label: "Вч 250 Кисть справа", placeholder: "Формат:  99.9", value: params[:hr250]
    .row
      .col-md-12
        .form-group
          = f.input :hl63, label: "Вч 63 Кисть слева", placeholder: "Формат:  99.9", value:  params[:hl63]
    .row
      .col-md-12
        .form-group
          = f.input :hl125, label: "Вч 125 Кисть слева", placeholder: "Формат:  99.9", value: params[:hl125]
    .row
      .col-md-12
        .form-group
          = f.input :hl250, label: "Вч 250 Кисть слева", placeholder: "Формат:  99.9", value: params[:hl250]
    .row
      .col-md-12
        .form-group
          = f.input :fr125, label: "Вч 125 Стопа справа", placeholder: "Формат:  99.9", value: params[:fr125]
    .row
      .col-md-12
        .form-group
          = f.input :fl125, label: "Вч 125 Стопа слева", placeholder: "Формат:  99.9", value: params[:fl125]

    .row
      .col-md-12
        .form-group
          = f.input :complect_id, label: "Прибор", value: params[:complect_id]
  .inline
    = submit_tag 'Отправить данные', class: 'btn btn-primary'
    = link_to 'Назад',  people_path, class: 'btn btn-default'
