.page-header
  %h1= "#{@subdivision.name}"
%br/
%br/
%dl
  .well.col-md-12
    .row
      .col-md-2
        %dt= Subdivision.human_attribute_name(:name)
        %dd= @subdivision.name
      .col-md-2
        %dt= Subdivision.human_attribute_name(:full_name)
        %dd= @subdivision.full_name
    .row
      .col-md-2
        %dt= Subdivision.human_attribute_name(:company)
        %dd= @subdivision.company.name


.text-center
  %br/
  %br/
  = link_to 'К кспику подразделений', subdivisions_path, class: 'btn btn-primary btn-sm'
  = link_to 'Изменить', edit_subdivision_path(@subdivision), class: 'btn btn-primary btn-sm'
